<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>下载</title>
    <!-- 引入 layui.css -->
    <link rel="stylesheet" type="text/css" href="https://www.layuicdn.com/layui/css/layui.css" />
</head>
<body>
<!--{{.lastVideo}}-->
<ul class="layui-nav" lay-filter="">
    <li class="layui-nav-item layui-this"><a href="">首页</a></li>
    <li class="layui-nav-item "><a href="">kanyu77</a></li>
    <li class="layui-nav-item layui-this"><a href="">下载</a></li>
</ul>




</body>
<script src="https://www.layuicdn.com/layui/layui.js"></script>
<script>
    //注意：导航 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function(){
        var element = layui.element;

        //…
    });
</script>
</html>